<div class="navbar bg-base-200 px-4">

    <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">Grand Line Registry</a>
    </div>

    <div class="flex-none hidden md:block">
        <ul class="menu menu-horizontal">
            <li><a href="/">Home</a></li>
            <li><a href="/crew">Crew</a></li>
            <li><a href="/recruit">Recruit</a></li>
            <li><a href="/log-pose">Log Pose</a></li>
        </ul>
    </div>

    <div class="badge badge-primary">
        <%= title %>
    </div>

</div>