<html data-theme="light">

<head>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <%- include("partials/navbar",{title:"404"}) %>

        <div class="text-center p-20">

            <h1 class="text-5xl font-bold mb-4">404</h1>

            <p class="text-lg">
                <%= message %>
            </p>

            <a href="/" class="btn btn-primary mt-6">Return Home</a>

        </div>

</body>

</html>